<a href="https://colab.research.google.com/github/jehbs/Code-sumo/blob/master/precoImoveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




```
# importar algumas bibliotecas, entre elas a google colab para ler o arquivo do drive
```

In [5]:
import pandas as pd

#from xgboost import XGBClassifier


import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

from sklearn.tree import DecisionTreeRegressor


from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [11]:
from google.colab import files
uploaded = files.upload()

Saving Precos_Imoveis.csv to Precos_Imoveis.csv



```
#Ler o arquivo e tirar os nulos transformando em 0 
```

In [0]:
import pandas as pd
import io
data = pd.read_csv(io.StringIO(uploaded['Precos_Imoveis.csv'].decode('utf-8')))
#data = pd.read_csv('Precos_Imoveis.csv')
data = data.fillna(0)

In [13]:
data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [0]:
data



```
# Aplicar uma tecnica para transformar todas as variaveis categóricas em numéricas 
```

In [0]:
one_hot_enco = ['MSZoning', 'LotFrontage', 'Street',
                'Alley','LotShape','LandContour','Utilities',
                'LotConfig', 'LandSlope','Neighborhood', 'Condition1', 
                'Condition2','BldgType', 'HouseStyle', 'RoofStyle',
                'RoofMatl','Exterior1st','Exterior2nd', 'MasVnrType', 
                'ExterQual', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 
                'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir',
                'Electrical', 'KitchenQual', 'Functional', 'Fireplaces', 
                'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 
                'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
                'SaleType', 'SaleCondition', 'ExterCond', 'FireplaceQu'     
               ]
for i in one_hot_enco:
  novas_colunas = np.array(data[i])
  encoded = pd.get_dummies(novas_colunas,dummy_na=True)
  encoded = encoded.add_prefix(i)
  data = pd.concat([data,encoded],axis=1)
  data = data.drop([i], axis=1)

Criação dos DataFrame X e Y

In [0]:
Y = data['SalePrice']
X = data.drop(['SalePrice', 'Id'], axis=1)
X = X.loc[:,~X.columns.duplicated()]

In [16]:
X.describe()

        MSSubClass        LotArea  ...  FireplaceQuTA  FireplaceQunan
count  1460.000000    1460.000000  ...    1460.000000          1460.0
mean     56.897260   10516.828082  ...       0.214384             0.0
std      42.300571    9981.264932  ...       0.410535             0.0
min      20.000000    1300.000000  ...       0.000000             0.0
25%      20.000000    7553.500000  ...       0.000000             0.0
50%      50.000000    9478.500000  ...       0.000000             0.0
75%      70.000000   11601.500000  ...       0.000000             0.0
max     190.000000  215245.000000  ...       1.000000             0.0

[8 rows x 462 columns]

In [0]:
from sklearn import preprocessing
array = X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(array)
X = pd.DataFrame(x_scaled)

In [0]:
Y.describe()

# Inicio do Modelo realmente



```
# Import das funções de métrica R² no caso
```

In [0]:
from sklearn.metrics import r2_score

def performance_metric(y_true, y_predict):
    
    score = r2_score(y_true, y_predict)

    return score



```
# separação do conjunto de treino e teste
```

In [0]:

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state = 42)



```
# Criação da função com o GridSearch
```

In [0]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit

def fit_model(X, y):

    cv_sets = ShuffleSplit(n_splits = 10, test_size = 0.20, random_state = 0)
    
    regressor = DecisionTreeRegressor()

    params = {'max_depth':[1,2,3,4,5,6,7,8,9,10,11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]}
    
    scoring_fnc = make_scorer(performance_metric)

    grid = GridSearchCV(estimator=regressor, param_grid=params, scoring=scoring_fnc, cv=cv_sets)

    grid = grid.fit(X, y)

    return grid.best_estimator_

Aplicação do modelo Sem chamar o Grid

In [22]:
regressao_inicial = DecisionTreeRegressor()
regressao_inicial.fit(X_train, y_train)
Y_pred_inicial = regressao_inicial.predict(X_test)
performace_inicial = performance_metric(y_test,Y_pred_inicial)
performace_inicial

0.7972549404388496

Aplicação com o Grid

In [23]:
# Fit the training data to the model using grid search
reg = fit_model(X_train, y_train)

# Produce the value for 'max_depth'
print("Parameter 'max_depth' is {} for the optimal model.".format(reg.get_params()['max_depth']))

Y_prediction = reg.predict(X_test)

performace = performance_metric(y_test,Y_prediction)
performace

Parameter 'max_depth' is 19 for the optimal model.

0.7624970634310273

Analise das Features mais importantes

In [24]:
feat_importances = pd.Series(reg.feature_importances_, index=X.columns)
feat_importances.head(20)

0     4.737413e-04
1     1.760861e-02
2     5.713967e-01
3     5.868590e-03
4     6.989421e-03
5     7.555599e-03
6     3.137545e-03
7     2.032786e-02
8     6.852145e-04
9     6.890889e-03
10    3.222471e-02
11    1.507835e-02
12    5.769971e-02
13    0.000000e+00
14    1.173339e-01
15    9.360472e-05
16    4.300125e-07
17    7.949908e-05
18    1.589559e-04
19    2.961583e-03
dtype: float64

In [0]:
feat_importances.nlargest(15).plot(kind='barh')
plt.show()

Aplicação do Modelo apenas com as features mais importantes

In [0]:
 X_new = X[feat_importances.nlargest(15).index]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X_new, Y, test_size=0.3, random_state = 42)

In [0]:
reg_new = fit_model(X_train, y_train)
Y_prediction_new = reg_new.predict(X_test)

In [0]:
performace_new = performance_metric(y_test,Y_prediction)
performace_new